{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %} Cadastro {% endblock %}

<body class="d-flex align-items-center justify-content-center vh-100 bg-dark p-5">
    {% block 'conteudo' %}
        <div class='d-flex align-items-center justify-content-center vh-100 bg-dark bg-gradient p-5'>
            <div class="border border-danger border-start-0 border-bottom-0 p-4 rounded-3">
                <form action="{% url 'cadastro' %}" method="POST">
                    {% csrf_token %}
        
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Usuário">
                    </div>
        
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Senha">
                    </div>
                    <div class="d-flex justify-content-evenly">        
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <a><button class="btn btn-primary">Logar</button></a>
                    </div>
                </form>
            </div>
        </div>

    {% endblock %}
</body>